@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500&family=Inter:wght@400;600&family=Manrope:wght@300;400;500;700&family=Outfit:wght@300;400;700&display=swap');
/* outfit font */




/* Path: src/styles/UserBooking.css */

.userBookingContainer{
    margin-left: 40px;
   display: grid;
   grid-template-columns: 140px 110px 280px 180px 200px;
    align-items: center;
    text-align: center;
    
}
.userName{
    color: #808080;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.userBtn{
    background-color: #8E8E8E;
    border-radius: 0.4rem;
    padding-block: 8px; 
    margin-inline: 16px; 
    border: none;
    color: white;  
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.bookingDate{
    color:#8E8E8E;
   

}
.userImgNameContainer{
    display: flex;
    align-items: center;
    gap: 12px;
}

.userImgNameContainer img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    background:  lightgray 50% / cover no-repeat;
}
.checkContainer{
    display: flex;
    justify-content: right;
    gap: 10px;

}
.checkBtn{
    height: 100%;
    width: 30px;
    cursor: pointer;
}

.Bookingusertable{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
    
}
